@media print {	
	#root {
		padding: 0;
		> *:not(#document) {
			display: none
		}
	}
}

#root #document {
	box-sizing: content-box;
	width: 595pt;
	font-size: 12pt;
	padding: 0 3rem;
	
	background-color: #2a2a2a;

	&:not(.edit-allowed) {
		height: 942pt; // should be this value - 100 but for some reason that leaves a blank space below the pdf
		display: flex;
		flex-direction: column;
		justify-content: center;}

	&.edit-allowed {
		.editable {
			&:not(.editing):not(.creating):hover {
				cursor: url(pencil-cursor.svg) 1 16, pointer;
				box-shadow: 2px 2px 2px 1px slategrey, inset 2px 2px 2px 1px slategrey;
			}
		}
	}

	textarea {
		width: 95%;
		vertical-align: top;
		font-family: inherit;
		font-size: inherit;
	}

	section {
		> ul {
			list-style: none;
			padding-inline-start: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 3pt;
		}
	}

	article {
		> ul {
			list-style: disc;
			padding-inline-start: 2rem;
		}
	}

	button {
		padding: 0;
		background-color: inherit;
	}

	h1, h2, h4, h5, ul {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	h3 {
		margin-block-start: 0.6rem;
		margin-block-end: 0.4rem;
	}

	main article {
		margin-block-end: 0.5rem;
	}

	p {
		margin-block-start: 0.4rem;
		margin-block-end: 0.3rem;
	}

	.editable {
		display: flex;
		flex-direction: row;
		justify-content: stretch;

		.content {
			flex-grow: 1;
		}

		.control {
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
	}

	.period > .head > .text {
		min-width: fit-content;
	}

	.profile-body {
		display: grid;
		gap: 2rem;
		grid-template-columns: 30% 1fr;

	}

	.img { 
		display: flex;
		
		img {
			width: 7rem;
		}
	}

	.iconic, .rated-skill, .head {
		display: flex;
		flex-direction: row;
	}

	.profile .editable.editing {
		.iconic,
			.rated-skill,
			.head {
				flex-direction: column;
			}
	}

	> header .head {
		gap: 2rem;
		margin: 0 2rem;
		justify-content: flex-start;
	}

	.iconic {
		gap: 0.6rem;

		.icon-ctn {
			flex-basis: 1.3rem;
			flex-shrink: 0;
			text-align: center;
		}
	}

	.period > .head, .rated-skill {
		justify-content: space-between;
	}

	.head {
		align-items: center;
	}

	.period > .head > .period {
		text-align: right;
	}
}
 
